@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.App {
    padding: 1rem;
}

@media screen and (min-width: map_get($grid-breakpoints, 'lg')) {
    .aside {
        position: sticky;
        top: 16px;
    }
}
